[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BTSR"]
	path = BTSR
	url = https://github.com/cran/BTSR
[submodule "DCCA"]
	path = DCCA
	url = https://github.com/cran/DCCA
[submodule "PPMiss"]
	path = PPMiss
	url = https://github.com/cran/PPMiss
[submodule "PRTree"]
	path = PRTree
	url = https://github.com/cran/PRTree
[submodule "PTSR"]
	path = PTSR
	url = https://github.com/cran/PTSR
